.center-password__wrap {
  width: 100%;
  height: 100%;
  .update-password {
    margin: 100px 0 0 50px;
    width:  363px;
    position: relative;
    .input-item {
      padding-bottom: 20px;
    }
  }
  .operate-group {
    /* width:  363px; */
    padding-left: 50px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    .operate-item {
      margin-top: 40px;
      margin-right: 20px;
      .g-btn{
        width: 363px;
      }
    }
  }
  .forget {
    width: 413px;
    text-align: right;
    color: #58C9F3;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
}
