@font-face {
  font-family: 'iconfont';  /* project id 996600 */
  src: url('http://at.alicdn.com/t/font_996600_x9f9lsv14pn.eot');
  src: url('http://at.alicdn.com/t/font_996600_x9f9lsv14pn.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_996600_x9f9lsv14pn.woff') format('woff'),
  url('http://at.alicdn.com/t/font_996600_x9f9lsv14pn.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_996600_x9f9lsv14pn.svg#iconfont') format('svg');
}
