@mixin size70 {
    width: 70px;
    height: 70px;
}

.upload-img {
    /deep/ .el-upload.el-upload--text {
        @include size70;
        img {
            @include size70;
        }
        .icon-icon_num_add {
            line-height: 70px;
            font-size: 28px;
        }
    }
    .avatar-uploader {
        @include size70;
    }
    /deep/ .el-form-item__content {
        display: flex;
        align-items: flex-end;
        .tip {
            font-size: 12px;
            color: #999999;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}